header {
  padding: 0px 0 0px;
}

section {
  padding: 80px 30px;
  background: rgba(65, 68, 83, 0.7);
  border-bottom: 1px solid #ddd;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.column {
  float: left;
  width: 33.33%;
  height: auto;
  padding: 5px;
}

.column-block {
  display: block;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

/* Dropdown Button */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.teamtable {
  width: 100%;
  margin-bottom: 1rem;
  border: 0;
}

.teamtable tbody tr td {
  border: 0;
  text-align: center;
}

.teamtable tbody tr:nth-of-type(odd) {
  font-weight: bold;
}
.teamtable tbody tr:nth-of-type(even) {
  color: grey;
}

body p {
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  /* font-family: acumin-pro, sans-serif; */
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  text-align: center;
}

.bg {
  background: url("../images/SWOTpic1_990.jpg") center center no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
}

.team {
  max-width: 700px;
  margin: 40px auto;
  text-align: center;
}

.team .team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}

.team .team-item {
  text-align: center;
  padding: 1em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.3%;
}

@media screen and (max-width: 768px) {
  .team .team-item {
    width: 50%;
    padding-top: 0.5em;
  }
}

.team .team-item b {
  white-space: nowrap;
}

.team .team-item span {
  display: block;
  font-size: 0.9em;
  margin-top: 5px;
  font-weight: 500;
  color: #8a8e9b;
}

.navbar-swot {
  background-color: #0066ff;
  margin: 0;
}

.navbar-swot .navbar-brand {
  color: black;
}

.navbar-swot .navbar-brand img {
  margin-bottom: 0;
}

.navbar-swot .navbar-brand:hover {
  color: rgba(255, 255, 255, 0.2);
}

.navbar-swot .nav-link {
  color: white;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 120%;
}

.navbar-swot .nav-link:hover {
  opacity: 0.8;
}

.navbar-swot .active {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-swot .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.bg-light2 {
  background-color: #e5e7e9;
}

.bg-light2 p,
.bg-light2 h1 {
  color: black;
}

.bg-light3 {
  background-color: #def0f9;
}

.bg-light3 p,
.bg-light3 h1 {
  color: black;
}

.container {
  padding-bottom: 0;
  margin-bottom: 0;
}

.row {
  padding-bottom: 0;
  margin-bottom: 0;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p {
  color: white;
}

.text-white a {
  color: white;
  text-decoration: underline;
}

.text-white a:hover {
  color: rgba(255, 255, 255, 0.5);
}

body footer p {
  text-align: center;
  margin: 0 !important;
}

.logo-containers-1 {
  text-align: center;
  margin: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-containers-1 a {
  display: inline-block;
  margin: 0px 10px;
}

.logo-containers-1 img {
  margin-left: auto;
  margin-right: auto;
  max-height: 100px;
  width: auto;
}
