<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1 style="font-size: xx-large;">
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">

      <a class="sidebar-nav-item{% if page.url == '/what-it-is/' %}  active{% endif %}" href="{{ site.baseurl }}/what-it-is/">What it is</a>
      <a class="sidebar-nav-item{% if page.url == '/how-it-works/' %}  active{% endif %}" href="{{ site.baseurl }}/how-it-works/">How it works</a>
      <a class="sidebar-nav-item{% if page.url == '/team/' %} active{% endif %}" href="{{ site.baseurl }}/team/">Project Team</a>
      <a class="sidebar-nav-item{% if page.url == '/contact/' %} active{% endif %}" href="{{ site.baseurl }}/contact/">Contact</a>
      <a class="sidebar-nav-item{% if page.url == '/use-swot/' %} active{% endif %}" href="{{ site.baseurl }}/use-swot/">Use SWOT</a>
      <hr>
      <a href="{{ site.baseurl }}/public/SWOT_Summary.pdf/ download">Click to download the Project&nbsp;Overview</a>
      <hr>

    </nav>

  </div>
</div>
