<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1 style="font-size: xx-large;">
        <a href="/">
        <img src="/public/images/swot_logo2.svg" width="200" height="150" />
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">

      <a class="sidebar-nav-item{% if page.url == '/what-it-is/' %}  active{% endif %}" href="{{ site.baseurl }}/what-it-is/">What It Is</a>
      <a class="sidebar-nav-item{% if page.url == '/how-it-works/' %}  active{% endif %}" href="{{ site.baseurl }}/how-it-works/">How It Works</a>
      <a class="sidebar-nav-item{% if page.url == '/team/' %} active{% endif %}" href="{{ site.baseurl }}/team/">Project Team</a>
      <a class="sidebar-nav-item{% if page.url == '/use-swot/' %} active{% endif %}" href="{{ site.baseurl }}/use-swot/">Use the SWOT</a>
      <a class="sidebar-nav-item{% if page.url == '/contact/' %} active{% endif %}" href="{{ site.baseurl }}/contact/">Contact</a>

    </nav>

  </div>
</div>
