<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1 style="font-size: xx-large;">
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">

      <a class="sidebar-nav-item{% if page.url == '/problem/' %} active{% endif %}" href="{{ site.baseurl }}/problem/">Problem</a>
      <a class="sidebar-nav-item{% if page.url == '/solution/' %} active{% endif %}" href="{{ site.baseurl }}/solution/">Solution</a>
      <a class="sidebar-nav-item{% if page.url == '/benefits/' %} active{% endif %}" href="{{ site.baseurl }}/benefits/">Benefits</a>
      <a class="sidebar-nav-item{% if page.url == '/workflow/' %} active{% endif %}" href="{{ site.baseurl }}/workflow/">Workflow</a>
      <a class="sidebar-nav-item{% if page.url == '/partners/' %} active{% endif %}" href="{{ site.baseurl }}/partners/">Partners</a>

    </nav>

  </div>
</div>
