.btn {
	position: relative;
	display: inline-block;
	font-size: 0.875rem;
	font-weight: 600;
	text-transform: uppercase;
	color: inherit;
	background-color: #f2c148;
	padding: 0.7em 1.35em;
	border-radius: 4px;
	box-shadow: 0 0 0 0px $col-4;

	transition: all 0.25s ease;

	&:hover {
		box-shadow: 0 0 0 3px $col-4;
		&::before {
			// transform: scale(1.05, 1.15);
			text-decoration: none;
		}
		span {
			// transform: scale(1.015);
			// font-weight: 600;
			// border-bottom-color: currentColor;
		}
	}
	&:active,
	&:active:focus {
		&::before {
			box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
		}
	}
	i {
		display: block;
		line-height: 0;
	}
	span {
		position: relative;
		z-index: 1;
		transition: all 0.15s ease;

		display: block;
		border-top: transparent 1px solid;
		border-bottom: transparent 1px solid;
	}
	&.min {
		text-transform: none;
		text-decoration: none;
	}
}

.icon-txt {
	display: inline-flex;
	min-width: 0px;
	max-width: 100%;

	.icon {
		top: 0.125em;
		position: relative;
		width: 1em;
		height: 1em;
		margin-right: 0.25em;
		flex: 1 0 auto;
	}
}

section {
	$list-indentation: 1.5em;

	ul,
	ol {
		list-style-position: outside;
		padding-left: calc(1.5rem * var(--line-height));
		margin-bottom: calc(1.5rem * var(--line-height));

		li {
			padding: 0;
			margin-left: 0em;
			margin-bottom: calc(0.25rem * var(--line-height));
		}
	}

	ol {
		list-style: none;
		counter-reset: ol-counter;

		> li {
			counter-increment: ol-counter;
			position: relative;

			&::before {
				content: counter(ol-counter) ".\00a0\00a0";
				position: absolute;
				right: 100%;
				width: auto;
				height: auto;
			}
		}
	}

	ul:not(.inline) {
		list-style: square;
		counter-reset: ol-counter;
		padding-left: $list-indentation;
	}
}

img {
	max-width: 100%;
	height: auto;
}
