html,
body {
	// scroll-behavior: smooth;
	scroll-padding: 4rem;
	min-height: 100vh;
	margin: 0;

	@media (min-width: $sm) {
		scroll-padding: 7rem;
	}
}

body {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;

	&.hidden {
		overflow: hidden;
	}
	> main,
	> article {
		flex: 1;

		display: grid;
		justify-items: center;
		background-color: $col-3;
		grid-template-columns: minmax(0%, 100%);
		grid-auto-rows: minmax(0%, max-content);

		> * {
			width: 100%;
		}
	}
}
