#our-story {
	> section {
		padding-top: 0;
		padding-bottom: 0;

		&:first-child {
			padding-top: 1rem;
			margin-top: 1rem;
		}

		&:last-child {
			margin-bottom: 2rem;
			.section-wrap {
				padding-bottom: 2rem;
			}
		}
	}
	.intro {
	}
	section.page-title {
		padding-top: 0;
		margin-top: 0;

		.section-title {
			position: relative;
			display: inline-block;
			// text-decoration: underline 2px solid $col-1;
			text-underline-offset: 3px;
			margin-bottom: 0;
		}
	}
	section.period {
		.section-wrap {
			&:before {
				content: "";
				position: absolute;
				top: 6rem;
				left: calc(0.25rem + 1px);
				width: 4px;
				height: 100%;
				background-color: $col-1;

				@media (min-width: $md) {
					top: 7rem;
					left: calc(3.5rem - 2px);
				}
			}
			@media (min-width: $md) {
				padding-left: 5.5rem;
				margin-left: auto;
			}
			gap: 3rem 1.5rem;
			padding-top: 2rem;

			@media (min-width: $sm) {
				gap: 6rem 1.5rem;
			}

			@media (min-width: $md) {
				grid-template-columns: repeat(6, minmax(0, 1fr));
			}
		}

		.section-subtitle {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: -2rem;
				transform: translateX(-50%) translateX(-1px) translateY(-50%);

				width: 1.5rem;
				height: 1.5rem;
				background-color: $col-1;
				border-radius: 5rem;
				border: 2px solid $col-1;

				@media (min-width: $sm) {
					width: 2rem;
					height: 2rem;
				}
			}
		}
		header {
			@media (min-width: $sm) {
				grid-column: 1/5;
			}
			.h1 {
				font-weight: 400;
				margin: 2rem 0 0;
				time {
					display: inline-block;
					font-size: 0.9em;
					font-weight: 400;
					color: #8c939b;
					margin-left: 0.3em;
				}
			}
		}
		.milestone {
			display: grid;
			gap: 1rem 1.5rem;
			align-items: flex-start;

			@media (min-width: $sm) {
				grid-column: 1/5;
				grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
			}

			&.row {
				grid-template-columns: minmax(0, 1fr);
			}

			&.rev {
				// flip the card, make text column 1, image  column 2
				figure {
					order: 1;
				}
			}

			&.align-c {
				align-items: center;
			}
			&.align-b {
				align-items: flex-end;
			}
		}
		.txt-c {
			@media (min-width: $sm) {
				text-align: center;
			}
		}
		.txt-r {
			text-align: right;
		}
		.align-top {
			align-items: flex-start;
		}
		.full {
			@media (min-width: $md) {
				grid-column: 1/7;
			}
		}
		.left {
			@media (min-width: $md) {
				grid-column: 1/5;
			}
		}
		.right {
			@media (min-width: $md) {
				grid-column: 2/6;
			}
		}
		.end {
			@media (min-width: $md) {
				grid-column: 3/7;
			}
		}
		.center {
			@media (min-width: $md) {
				grid-column: 2/6;
			}
		}
		.mb {
			margin-bottom: 3rem;
		}
		figure {
			.media {
				display: grid;
				align-items: flex-start;

				img {
					display: flex;
					color: rgba(white, 0.4);
					width: 100%;
					justify-content: center;
					align-items: center;
					object-fit: cover;
				}

				&:not(.clear) {
					img {
						background-color: $col-1;
					}
					> * {
						grid-row: 1/-1;
						grid-column: 1/-1;
					}
				}

				&.solo {
					img {
						object-fit: contain;
						height: auto;
					}
				}

				> * {
					margin: auto;
				}
				&.grid-2 {
					grid-template-columns: minmax(0, 50%) minmax(0, 50%);
				}
				&.grid-3 {
					grid-template-columns: repeat(3, minmax(0, 1fr));
				}
				&.grid-4 {
					grid-template-columns: repeat(4, minmax(0, 1fr));
				}
				.logo {
					padding: calc(var(--line-height) * 0.5rem);
				}
				.full {
					grid-column: 1/-1;
				}
			}
			figcaption {
				font-size: 0.75rem;
				letter-spacing: 0.01em;
				color: #767c82;
				margin-top: calc(var(--line-height) * 0.3rem);
			}
		}
		.rte {
			margin-bottom: calc(var(--line-height) * 0.5rem);
			p {
				// max-width: 40ch;
			}
		}
	}
	// custom
	.period {
		.swot-validation-study {
			@media (min-width: $sm) {
				grid-column: 2/7;
			}
		}
		.swot-advocate {
			figure {
				width: 250px;
				margin-left: auto;
			}
		}
		.swot-birth {
			figure {
				text-align: center;

				.media {
					height: 300px;
					background-color: $col-1;

					img {
						max-width: 250px;
						margin: auto;
						object-fit: scale-down;
					}
				}
			}
		}
		.swot-organisation-collaboration {
			@media (min-width: $sm) {
				grid-column: 2/6;
			}
			figure {
				.media {
					gap: 1rem;
					img {
						width: 200px;
						margin: auto;
					}
				}
			}
		}
		.swot-ai-experimentation {
			grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);

			figure {
			}
		}
		.swot-grand-challenge-grant {
			@media (min-width: $sm) {
				grid-column: 1/6;
			}
			figure {
				.media {
					gap: 1rem;
					img {
						width: 200px;
						margin: auto;
					}
					.hope-in-conflict {
						background-color: #691b33;
					}
					.grand-challenges {
						background-color: #464e5c;
						aspect-ratio: 1/1;
						object-fit: contain;
						padding: calc(var(--line-height) * 0.75rem);
					}
				}
			}
		}
		.swot-lassonde {
			img {
				max-width: 300px;
			}
		}
		.swot-hif-elrha {
			img {
				background-color: #e2e6ed;
			}
		}
		.swot-scale-up {
			@media (min-width: $sm) {
				grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
			}
			figure {
				.media {
					gap: 1rem;
					img {
						width: 200px;
						margin: auto;
						// background-color: #fff;
					}
				}
			}
		}
	}
}
