html,
body {
	// scroll-behavior: smooth;
	scroll-padding: 7rem;
	min-height: 100vh;
	margin: 0;

	@media (min-width: $sm) {
		scroll-padding: 10rem;
	}

	@keyframes fade {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}

	.team-member:target {
		position: relative;
		z-index: 2;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: -1;
			transform: translate(-50%, -50%);

			width: 110%;
			height: 115%;
			background: rgba(beige, 0.6);

			animation: fade 2s ease 2s 1 forwards;
		}
	}
}

body {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;

	&.hidden {
		overflow: hidden;
	}
	> main,
	> article {
		flex: 1;

		display: grid;
		justify-items: center;
		background-color: $col-3;
		grid-template-columns: minmax(0%, 100%);
		grid-auto-rows: minmax(0%, max-content);

		> * {
			width: 100%;
		}
	}
}
