[id*="page-"] {
	> section:last-child {
		padding-bottom: 5rem;
	}
}

section {
	.section-wrap {
		position: relative;

		display: grid;
		grid-auto-rows: minmax(0%, max-content);
		gap: calc(var(--line-height) * 1rem);
		width: 100%;
		height: auto;
		margin: 0 auto;

		padding-left: 2.5rem;
		padding-right: 2.5rem;
		max-width: $max-width-small;
		@media (min-width: $md) {
			max-width: $max-width;
		}
	}
	.section-title,
	.section-subtitle {
		font-family: "Roboto Condensed", sans-serif;
		font-weight: 700;
		font-size: 2.25rem;
		line-height: 1.1;
		letter-spacing: -0.0175em;

		margin-bottom: calc(var(--line-height) * 1rem);
		margin-top: calc(var(--line-height) * 2rem);

		@media (min-width: $md) {
			font-size: 2.5rem;
		}
	}
	.section-subtitle {
		font-size: 2rem;
		@media (min-width: $md) {
			font-size: 2.25rem;
		}
	}
}

.section-title,
.section-header {
	font-family: "Roboto Condensed", sans-serif;
	margin-bottom: 1rem;
	font-size: 20px;
	font-weight: "400";
	line-height: "1.2";
	letter-spacing: "-0.02em";
	color: "#747e87";
	margin: "5px 0 10px 8px";
}

#intro {
	position: relative;
	color: #fff;
	background-color: $col-2;

	.section-wrap {
		position: relative;
		z-index: 2;

		display: grid;
		grid-template-columns: minmax(0, 100%);
		grid-template-rows: minmax(0%, max-content);
		gap: 2.5rem 1.5rem;
		justify-items: center;
		padding-bottom: 50px;
		margin: 0 auto;

		transition: grid-template-columns 0.25s ease-out;

		@media (min-width: $md) {
			grid-template-columns: minmax(0, 40%) minmax(0, 60%);
		}
	}

	header,
	.image,
	.text {
		width: 100%;
	}

	header {
		grid-column: 1/-1;

		.section-title {
			margin: 0;

			@media (min-width: $md) {
				margin-top: calc(var(--line-height) * 3.5rem);
			}
		}
	}

	@media (max-width: #{$md - 0.1px}) {
		text-align: center;
		padding-bottom: 5rem;
		br {
			display: none;
		}
		header {
			order: 2;
		}
		.image {
			order: 1;
		}
		.text {
			order: 3;
		}
	}

	@media (min-width: $md) {
		.content {
			margin-top: 1rem;
		}
		.image {
			order: 2;
			margin-top: 100px;
		}
	}

	.try-it-now {
		display: inline-block;
		color: #1b2028;
		margin: 30px 0;
	}

	figure {
		.media {
			position: relative;
			width: 100%;
			padding-top: 56.25%;

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	svg {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 0;
	}
}

#how-it-works {
	background: #e3e4e6;

	.section-title {
		// margin-bottom: calc(var(--line-height) * 0.5rem);
	}
	.section-wrap {
		display: grid;
		grid-template-columns: minmax(0, 100%);
		justify-items: center;

		gap: 1.5rem;

		@media (min-width: $md) {
			max-width: 1150px;
		}

		@media (max-width: #{$sm - 0.1px}) {
			text-align: center;
		}

		header {
			grid-column: 1/-1;
			text-align: center;
			margin-bottom: calc(var(--line-height) * 1rem);

			p {
				max-width: 35ch;
				margin: 0 auto;
			}
		}

		.image-text {
			display: flex;
			flex-direction: column;
			width: 100%;

			figure {
				.media {
					position: relative;
					width: 100%;
					padding-top: 75%;
					background-color: #7481b2;

					img {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}

			h2 {
				margin-top: 0.5rem;
			}
		}

		@media (min-width: $sm) and (max-width: #{$md - 0.1px}) {
			grid-template-columns: minmax(0, 50%) minmax(0, 50%);

			> div:nth-child(3) {
				grid-area: 2/1/3/-1;
				max-width: 50%;
			}
		}

		@media (min-width: $md) {
			grid-template-columns: minmax(0, 33.333%) minmax(0, 33.333%) minmax(
					0,
					33.333%
				);

			.image-text:nth-child(3) {
				max-width: #{$lg * 0.3333};
			}
		}
	}
	footer {
		text-align: center;

		.btn {
			width: 100%;
			max-width: 200px;
			margin-top: 2rem;
		}
	}
}

#commisioned-video {
	padding-bottom: 4rem;

	.section-wrap {
		max-width: 1140px;
	}
	.plyr__controls {
		opacity: 0;
	}
	.plyr--playing .plyr__controls {
		opacity: 1;
	}
	.video-wrapper {
		position: relative;
		width: 100%;
		height: auto;
		overflow: hidden;

		video,
		audio,
		iframe {
			width: 100%;
			height: auto;
		}
	}
}

#page-how-it-works {
	background-color: #dbdfe4;
	// background-color: #f3f6f9;
	& ~ .site-footer > svg {
		background-color: #dbdfe4;
	}
}

#learn-more {
	.wrap {
		display: grid;
		gap: 3rem;
		max-width: 960px;
		margin: 0 auto;
	}

	.point {
		display: grid;
		gap: 1rem;
		grid-template-columns: minmax(0%, 100%);
		align-items: center;

		@media (min-width: $md) {
			gap: 4rem;
			grid-template-columns: minmax(0%, 55%) minmax(0%, 45%);
			.section-title {
				margin-left: -0.03em;
			}

			.point-content {
				max-width: 45ch;
			}

			&:nth-child(odd) {
				grid-template-columns: minmax(0%, 45%) minmax(0%, 55%);
				.point-img {
					order: 2;
				}
			}
			&:nth-child(even) {
				.point-content {
					margin-left: auto;
				}
			}
		}
	}

	.point-img {
		position: relative;
		overflow: hidden;
		img {
			display: grid;
			align-items: center;
			text-align: center;
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}

	.point-content {
		h1,
		p {
			width: 100%;
		}
		p {
		}
		.btn {
			// display: block;
			max-width: 80%;
			margin: auto;
			margin-top: 0.5rem;
			margin-bottom: 2rem;
		}
	}
}

#process {
	position: relative;

	background-color: $col-2;
	color: #fff;

	overflow: hidden;

	.section-wrap {
		@media (min-width: 980px) {
			grid-template-columns: minmax(0, 40%) minmax(0, 60%);
			align-items: center;
		}
	}

	.notes {
		max-width: 480px;
		margin: 1rem auto;
	}
	strong {
		font-weight: 500;
	}
	svg.asterix {
		position: relative;
		color: $col-4;
		width: 15px;
		height: 15px;
	}
	.cycle {
		.graphic {
			display: grid;
			grid-template-columns: 50% 50%;

			overflow: hidden;
			border-radius: 100%;
			transform: rotate(20deg);
		}

		.step {
			aspect-ratio: 1/1;

			figcaption {
				transform: rotate(-20deg);
			}

			&:nth-child(1) {
				order: 1;
				background-color: lighten($col-2, 2%);

				figcaption {
					top: 60%;
					right: 10%;
				}
			}
			&:nth-child(2) {
				order: 2;
				background-color: lighten($col-2, 4%);

				figcaption {
					top: 60%;
					left: 10%;
				}
			}
			&:nth-child(3) {
				order: 4;
				background-color: lighten($col-2, 6%);

				figcaption {
					top: 20%;
					left: 10%;
				}
			}
			&:nth-child(4) {
				order: 3;
				background-color: lighten($col-2, 8%);

				figcaption {
					top: 20%;
					right: 10%;
				}
			}

			svg {
				margin-right: -15px;
			}
		}

		figure {
			position: relative;
			min-width: 100%;
			min-height: 100%;

			figcaption {
				position: absolute;

				text-align: center;
				max-width: 25ch;
			}
		}
	}
	footer.faq {
		grid-column: 1/-1;
		color: $col-text;
		text-align: center;
		padding-top: 2rem;
	}
}

#research {
	position: relative;

	.intro {
		margin-bottom: 1rem;
	}

	svg {
		display: none;
	}

	.intro,
	.papers {
		article {
			display: grid;
			grid-auto-flow: column;
			gap: 1rem;
			grid-template-columns: minmax(0, 100px) minmax(0, 1fr);

			@media (min-width: 640px) {
				grid-template-columns: minmax(0, 170px) minmax(0, 1fr);
			}
		}
		figure {
			background-color: $col-1;
		}
		.paper-title {
			margin-top: calc(var(--line-height) * 0.25rem);
			margin-bottom: 0;
		}
		svg.icon {
			display: none;
			width: 20px;
			height: 20px;
			margin-left: 0.25em;
		}
		p {
			max-width: none;
		}
		a {
			border-bottom: 1px dotted;
		}
		.org {
			display: block;
			margin-top: 0.25rem;
		}
	}
	.papers {
		display: grid;
		grid-auto-flow: row;
		gap: 2rem;
	}
}

#case-studies {
	> .section-wrap {
		border-top: 2px solid #b8bdc2;
		padding-top: 0rem;
		padding-bottom: 2rem;
		margin-top: 6rem;
	}
}

#case-studies-map {
	display: flex;
	padding: 0rem;
	pointer-events: none;
	iframe {
		width: 100%;
		height: 960px;
		pointer-events: none;
	}
}

footer.clear {
	svg.svg-wave-footer {
		background: transparent;
		margin-top: -3rem;
	}
}

#on-the-field {
	display: none;
}

#signup {
	background-color: #dbdfe4;

	.section-wrap {
		max-width: 720px;
	}

	.sign-up {
		display: grid;
		grid-template-columns: minmax(0, 100%);

		@media (min-width: 640px) {
			grid-template-columns: minmax(0, 55%) minmax(0, 45%);
			gap: 3rem;

			.section-subtitle {
				margin-left: -0.03em;
			}
		}
	}

	.sign-up-img {
		position: relative;
		width: 100%;
		overflow: hidden;
		border-radius: 80% 100% 80% 80%;
		border: 10px solid #e2e6ed;
		max-width: 480px;
		margin: auto;
		@media (min-width: $md) {
			transform: rotate(-10deg);
			max-width: none;
		}
		&::before {
			content: "";
			display: block;
			width: 100%;
			padding-bottom: 100%;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;

			position: absolute;
			top: 0;
			left: 0;
		}

		@supports (aspect-ratio: 1/1) {
			aspect-ratio: 1/1;
			padding-bottom: 0;
			&::before {
				display: none;
			}

			img {
				position: static;
			}
		}
	}

	.sign-up-content {
		text-align: center;
		max-width: #{$lg * 0.333};
		margin: auto;
		p {
			margin-bottom: 0;
		}
		.btn {
			margin-top: calc(var(--line-height) * 0.5rem);
			margin-bottom: 2rem;
		}

		@media (min-width: $md) {
			text-align: left;
			align-self: center;
		}
	}
}

#newsletter {
	text-align: center;
	background-color: #dbdfe4;

	padding-bottom: calc(var(--line-height) * 2rem);

	.section-title {
		margin-bottom: calc(var(--line-height) * 0.25rem);
	}

	.form-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		max-width: 500px;
		margin: 0 auto;

		a {
			text-decoration: underline 1px rgba(black, 0.1);
		}

		input {
			flex: 1;
			border-radius: 4px;
			padding: 0.7em 1.35em;
			margin: 0.25rem;
			border: none;
			font-size: 0.875rem;
			line-height: 1.7;
		}

		input[type="email"] {
			text-align: center;
			background-color: #eff2f7;
			color: currentColor;

			@media (min-width: $md) {
				flex: 1 0 calc(65% - 0.5rem);
			}
		}

		input[type="submit"] {
			cursor: pointer;
			color: currentColor;

			@media (min-width: $md) {
				flex: 1 0 calc(35% - 0.5rem);
			}
		}

		.credit {
			flex-basis: 100%;
			margin-top: 0.2rem;
		}
	}
}

#our-story {
	> section {
		padding-top: 0;
		padding-bottom: 0;

		&:first-child {
			padding-top: 1rem;
			margin-top: 1rem;
		}

		&:last-child {
			margin-bottom: 2rem;
			.section-wrap {
				padding-bottom: 2rem;
			}
		}
	}
	.intro {
	}
	.period {
		.section-wrap {
			gap: 3rem 1.5rem;
			padding-top: 2rem;

			@media (min-width: $md) {
				grid-template-columns: repeat(6, minmax(0, 1fr));
				border-left: 2px solid $col-5;

				.section-subtitle {
					position: relative;

					&::before {
						content: "";
						position: absolute;
						top: 50%;
						left: -2rem;
						transform: translateX(-50%) translateX(-1px)
							translateY(-50%);

						width: 2rem;
						height: 2rem;
						background-color: $col-1;
						border-radius: 5rem;
						border: 2px solid $col-5;
					}
				}
			}
		}
		header {
			grid-column: 1/-1;
			h1 {
				font-weight: 700;
				margin: 2rem 0 0;
				time {
					display: inline-block;
					font-size: 0.8em;
					font-weight: 400;
					color: #8c939b;
				}
			}
		}
		.milestone {
			display: grid;
			gap: 1rem 1.5rem;
			align-items: flex-start;

			@media (min-width: $sm) {
				grid-column: 1/5;
				grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
			}

			&.row {
				grid-template-columns: minmax(0, 1fr);
			}

			&.rev {
				// flip the card, make text column 1, image  column 2
				figure {
					order: 1;
				}
			}

			&.align-c {
				align-items: center;
			}
			&.align-b {
				align-items: flex-end;
			}
		}
		.txt-c {
			text-align: center;
		}
		.txt-r {
			text-align: right;
		}
		.align-top {
			align-items: flex-start;
		}
		.full {
			@media (min-width: $md) {
				grid-column: 1/-1;
			}
		}
		.left {
			@media (min-width: $md) {
				grid-column: 1/5;
			}
		}
		.right {
			@media (min-width: $md) {
				grid-column: 2/6;
			}
		}
		.center {
			@media (min-width: $md) {
				grid-column: 2/-3;
			}
		}
		.mb {
			margin-bottom: 3rem;
		}
		figure {
			.media {
				display: grid;
				align-items: flex-start;

				img {
					display: flex;
					color: rgba(white, 0.4);
					width: 100%;
					justify-content: center;
					align-items: center;
					object-fit: cover;
				}

				&:not(.clear) {
					img {
						background-color: $col-1;
					}
					> * {
						grid-row: 1/-1;
						grid-column: 1/-1;
					}
				}

				&.solo {
					img {
						object-fit: contain;
						height: auto;
					}
				}

				> * {
					margin: auto;
				}
				&.grid-2 {
					grid-template-columns: minmax(0, 50%) minmax(0, 50%);
				}
				&.grid-3 {
					grid-template-columns: repeat(3, minmax(0, 1fr));
				}
				&.grid-4 {
					grid-template-columns: repeat(4, minmax(0, 1fr));
				}
				.logo {
					padding: calc(var(--line-height) * 0.5rem);
				}
			}
			figcaption {
				font-size: 0.75rem;
				letter-spacing: 0.01em;
				color: #767c82;
				margin-top: calc(var(--line-height) * 0.3rem);
			}
		}
		.rte {
			margin-bottom: calc(var(--line-height) * 0.5rem);
			p {
				// max-width: 40ch;
			}
		}
	}
	// custom
	.period {
		.swot-validation-study {
			grid-column: 2/7;
		}
		.swot-advocate {
			figure {
				width: 250px;
				margin-left: auto;
			}
		}
		.swot-birth {
			figure {
				width: 250px;
				text-align: center;

				.media {
					height: 150px;
					background-color: $col-1;

					img {
						width: 200px;
						margin: auto;
						object-fit: scale-down;
					}
				}
			}
		}
		.swot-organisation-collaboration {
			grid-column: 2/6;
			figure {
				.media {
					gap: 1rem;
					img {
						width: 200px;
						margin: auto;
					}
				}
			}
		}
		.swot-ai-experimentation {
			grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);

			figure {
			}
		}
		.swot-grand-challenge-grant {
			grid-column: 1/6;
			figure {
				.media {
					gap: 1rem;
					img {
						width: 200px;
						margin: auto;
					}
					img:last-child {
						background-color: $col-5;
					}
				}
			}
		}
		.swot-lassonde {
			img {
				max-width: 300px;
			}
		}
		.swot-hif-elrha {
			img {
				background-color: #e2e6ed;
			}
		}
		.swot-scale-up {
			@media (min-width: $sm) {
				grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
			}
			figure {
				.media {
					gap: 1rem;
					img {
						width: 200px;
						margin: auto;
						// background-color: #fff;
					}
				}
			}
		}
	}
}

#page-team {
	background-color: #e3e4e6;
	& ~ .site-footer > svg {
		background-color: darken($col-3, 8%);
	}
}

#team {
	.section-wrap {
		gap: 2rem;
		max-width: 880px;
	}

	.intro {
		p {
			max-width: none;
		}
	}

	.team-members {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 2rem;
		align-items: top;
		padding-bottom: 2rem;

		text-align: center;

		@media (min-width: $sm) {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
	}

	.team-member {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.portrait {
		position: relative;
		width: auto;
		margin: auto;
		overflow: hidden;
		border-radius: 100%;
		border: 1px solid darken($col-3, 10%);
		background: $col-1;
		@media (min-width: $sm) {
			width: 66%;
		}
		&::before {
			content: "";
			display: block;
			width: 100%;
			padding-bottom: 100%;
		}
		img {
			width: auto;
			height: auto;
			object-fit: cover;

			position: absolute;
			top: -2px;
			left: -2px;
			right: -2px;
			bottom: -2px;
		}

		@supports (aspect-ratio: 1/1) {
			aspect-ratio: 1/1;
			padding-bottom: 0;
			&::before {
				display: none;
			}

			img {
				position: static;
				width: 100%;
				height: 100%;
			}
		}
	}

	.title {
		display: block;
		margin-top: 0.75rem;
		margin-bottom: 0;
	}

	.title-sub {
		display: block;
		font-weight: 300;
		letter-spacing: 0.05em;
	}
}

#supporters {
	text-align: center;
	background-color: darken($col-3, 8%);

	h2 {
		margin: 2rem 0;
	}

	.group {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		a {
			margin: 1rem 1.25rem;
		}
		img {
			max-width: 70px;

			@media (min-width: $md) {
				max-width: 100px;
			}
		}
		img.dwb,
		img.achmea,
		img.grandchallenges {
			width: auto;
			max-width: none;
			height: 33px;
		}
		img.dwb,
		img.grandchallenges {
			height: 65px;
		}
		img.wide {
			width: auto;
			max-width: none;
			height: 70px;
		}
	}
}

#articles-content {
	padding-bottom: calc(var(--line-height) * 4rem);
}

#page-terms-of-use,
#page-privacy-policy,
#page-cookie-policy {
	background-color: #dbdfe4;
}
#page-cookie-policy {
	hr {
		opacity: 0;
		margin: 2rem 0;

		& + h3 {
			margin-bottom: 2rem;
		}
	}
	table {
		table-layout: auto;
		width: 100%;

		thead {
			font-weight: 500;

			td {
				border-bottom: 3px solid #ccc;
			}
		}

		td {
			&:nth-child(1) {
				width: 20%;
			}

			&:nth-child(2) {
				width: 15%;
			}

			&:nth-child(3) {
				width: 35%;
			}

			&:nth-child(4) {
				width: 20%;
			}

			&:nth-child(5) {
				width: 10%;
			}
		}

		tr {
			&:not(:last-child) td {
				border-bottom: 1px solid #ccc;
			}
		}

		td {
			padding: 10px;
		}

		td,
		input {
			vertical-align: top;
		}

		p {
			margin-bottom: 0.5rem;
		}
	}
}

#page-tool {
	.section-wrap {
		gap: 2rem;
		grid-template-columns: minmax(0, 160px) minmax(0, 1fr);

		nav {
			a {
				display: block;
				background-color: #fff;
				border-radius: 4px;
				padding: 0.5rem;
				margin-bottom: 2rem;

				text-align: center;
			}
		}

		section {
			padding: 1rem 0.5rem;
			margin-bottom: 2rem;
			background-color: #fff;
			border-radius: 4px;
		}

		hr {
			color: rgba(black, 0.1);
		}
	}
}
