/* Type + Scaling */
$sans: "Inter", "Helvetica", Arial, sans-serif;

:root {
	--font-size: 14px;
	--letter-spacing: -0.011em;
	--line-height: 1.375;
	--font-weight: 500;

	@media (min-width: 1150px) {
		--font-size: 16px;
	}
}

html {
	text-rendering: optimizeLegibility;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

	// -- Font Settings

	font-kerning: normal;
	-moz-font-kerning: normal;
	-webkit-font-kerning: normal;

	font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern" 1, "kern";
	-moz-font-feature-settings: "kern=1";

	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-osx-font-smoothing: auto;

	color: #464e5c;

	// -- Font Size

	font-family: $sans;
	font-size: var(--font-size, 16px);
	letter-spacing: var(--letter-spacing, -0.011em);
	line-height: var(--line-height, 1.375);
	font-weight: var(--font-weight, 500);
}

.medium {
	font-size: 0.95rem;
}

.small {
	font-size: 0.9rem;
}

.con,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: "Barlow Condensed", "Roboto Condensed", sans-serif;
	line-height: 1.1;
	font-weight: 500;
	letter-spacing: -0.007em;

	strong,
	b {
		font-weight: inherit;
	}
}

h1,
h2 {
	margin-bottom: 0;
}

h2,
.h2 {
	font-size: 2rem;
}

h3,
.h3 {
	font-size: 1.85rem;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-size: 1.45rem;
}

p {
	&:not(:last-child) {
		margin-bottom: calc(1rem * var(--line-height));
	}
}

a {
	color: inherit;
}

b,
strong {
	font-weight: 500;
}

.rte,
.post-text {
	a {
		text-decoration: underline 1px;
		text-underline-offset: 1px;
	}
	h2,
	.h2 {
		margin-top: calc(1.5rem * var(--line-height));
		margin-bottom: calc(0.25rem * var(--line-height));

		@media (min-width: $md) {
			font-size: 1.75rem;
		}
	}
	h3,
	.h3 {
		margin-bottom: calc(0.25rem * var(--line-height));
	}

	h4,
	h5,
	h6 {
		margin-top: calc(0.75rem * var(--line-height));
		margin-bottom: calc(0.75rem * var(--line-height));
	}
}
