// sass --watch src/style.scss:public/assets/style.css

$col-1: #365996;
$col-2: #92a4c4;
$col-3: #dbdfe4;
$col-4: #f3c22b;
$col-5: #272d37;
$col-text: #191a1d;
// $col-text: #4069b1;

$sm: 720px;
$md: 960px;
$lg: 1280px;

$max-width: 840px;
$max-width-small: 720px;

.plyr {
	--plyr-color-main: $col-1;
	--plyr-control-icon-size: 2em;
	--plyr-control-spacing: 0.5em;
	--plyr-control-padding: 0.25em;
	--plyr-control-radius: 0px;
}
